{% if summary|length > 0 %}
<div class="upgrade-status-counters">
  {% for item in summary %}
    <div class="upgrade-status-counters__item">
      <div class="upgrade-status-counter">
        <div class="upgrade-status-counter__status-icon upgrade-status-counter__status-icon--{{ item.type|clean_class }}"></div>
        <div class="upgrade-status-counter__status-title">
          <span class="upgrade-status-counter__title-count">{{ item.count }} {{ item.type|t }}</span>
          <span class="upgrade-status-counter__details">{{ item.message }}</span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endif %}
